
body{
    background: url("bgimg.jpg") no-repeat;
    background-size:cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(54, 54, 54, 0.25);
}
#clockContainer{

    margin: auto;
   
    height: 40vw;
    width: 40vw;
    
    background: url(pngfind.com-clock-face-png-647942.png);
    background-size: 100%;
    position: relative;
    top: 10vh;
}

#hour,#minute,#second,#circle,img{
    position: absolute;
    opacity: 0.5;
    border-radius: 15px;
    transform-origin: bottom;
    /* transition: transform 1s ease-out;   */
}

img{
    top: 24%;
    left: 25%;
    opacity: 1;
}
#circle{
    width: 4%;
    height: 4%;
    background-color: blueviolet;
    top: 48%;
    left: 48%;
    border-radius: 60%;
/* display: none; */
}
#hour{
    width: 1%;
    height: 25%;
    top: 25%;
    left: 49.5%;
    background: red;
    /* display: none; */
}
#minute{
    width: 1%;
    height: 39%;
    top: 11%;
    left: 49.5%;
    background: blue;
    /* display: none; */
}
#second{
    width: 1%;
    height: 50%;
    top: 0%;
    left: 49.5%;
    background: greenyellow;
    /* display: none; */
}


@media screen and (max-width:930px) {

   
    #clockContainer{
      
        top: 5vh;
    }
    
}
@media screen and (max-width:450px) {

    body{
      background:url("Naruto-Phone-Wallpaper-04.jpg")  no-repeat;
      background-size: cover;
      
    }

 
    #clockContainer{
        height: 80vw;
        width: 80vw;
        top: 30vh;
    }
    
}
